$background: #F1D797;
$block: #F9F9F9;
$black: #000000;
$gold-metallic: linear-gradient(45deg, #f9d976, #f39c12 25%, #f9d976 50%, #d4af37 75%, #f39c12);
$highlight: #F7B32B;
$secondary: #4CAF50;
$primary: #24739B;
$white: #FFFFFF;

