@use './colors.scss';

@import './bootstrap_mandatory.scss';

// Optional bootstrap components
@import '../../node_modules/bootstrap/scss/badge';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/tooltip';

@import '../../node_modules/bootstrap/scss/utilities/api';

:root {
  --color-vanilla: #FCF6B1;
  --color-celadon: #A9E5BB;
}

body {
  background-color: colors.$background !important;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

hr {
  background-color: colors.$separator;
  height: 1px;
  border: none;
  opacity: 1;
}

.baselined-icon {
  vertical-align: baseline;
}

.icon-container {
  width: 32px;
  height: 32px;
  display: inline-block;

  &-small {
    width: 16px;
    height: 16px;
  }
}

.icon-hoverable {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.text-block {
  background-color: colors.$block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main, .footer {
  margin-left: 220px; /* Same as the width of the sidebar */
}

@media (max-width: 768px) {
  #main, .footer {
    margin-left: 72px;
  }
}

/**** Sidenav ****/
#home {
  color: white;
  font-size: 1.5rem;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: colors.$primary;
  overflow-x: hidden;
  padding-top: 20px;

  hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
}

/* On small screens: hide text, shrink sidebar */
@media (max-width: 768px) {
  .small-icon-container {
    width: 32px;
    height: 32px;
    display: inline-block;
  }

  .small-hidden {
    display: none;
  }

  .small-centered {
    text-align: center;
  }

  .sidenav {
    width: 72px; /* smaller sidebar */

    a {
      font-size: 11px;
    }
  }

  #unsaved-count {
    left: 100%; /* ensure badge stays visible */
  }
}

@media (min-width: 768px) {
  .large-margin-end {
    margin-right: 0.5rem;
  }

  .large-icon-container-small {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;

  &.active {
    font-weight: bold;
    color: #F7B32B;
  }

  &:after {
    content: "";
    position: absolute;
    width: 85%;
    height: 1px;
    bottom: 0;
    left: 50%;                   // place it relative to the center
    transform: translateX(-50%) scaleX(0); // center it + start hidden
    background-color: $secondary;
    transition: transform 0.3s ease-in-out;
  }

  &:hover:after {
    transform: translateX(-50%) scaleX(1); // expand from center
  }
}

/**** Footer ****/
.footer {
  #home-small {
    border: 1px solid colors.$separator
  }

  p, h3 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }

  .section-title {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  .row {
    border-top: 1px solid colors.$separator;
    padding-top: 1.5rem;
  }
}
