// Mandatory bootstrap imports
@import "../../node_modules/bootstrap/scss/functions";

$red: #F72C25;
$primary: #A9E5BB;
$secondary: #F7B32B;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import '../../node_modules/bootstrap/scss/utilities';
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";

// Optional used components
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/badge';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/close';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/list-group';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/tables';
@import '../../node_modules/bootstrap/scss/toasts';
@import '../../node_modules/bootstrap/scss/tooltip';
@import '../../node_modules/bootstrap/scss/transitions'; // navbar collapse

@import '../../node_modules/bootstrap/scss/utilities/api';

:root {
  --color-vanilla: #FCF6B1;
  --color-celadon: #A9E5BB;
  --color-dark-purple: #442c47;
}

body {
  background-color: var(--color-vanilla) !important;
}

.icon-container {
  width: 32px;
  height: 32px;
  display: inline-block;

  &-small {
    width: 16px;
    height: 16px;
  }

  &-xs {
    width: 8px;
    height: 8px;
  }
}

.icon-hoverable {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.text-block {
  background-color: #fffbc1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rounded-shadow {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

/* Basic clickable and editable text style */
.editable-text {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid #0056b3;
  }
}

.underline {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $secondary;
}

.char-width-20 {
  width: 20ch;
}

.char-width-30 {
  width: 30ch;
}

.unpaded {
  padding-left: 0%;
  padding-right: 0%;
  margin-left: -0.5rem;
}

/**** Table ****/
.shadowed-border {
  border-radius: 10px 10px 0px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  margin-bottom: 0 !important;

  thead {
    tr {
      th {
        color: white !important;
        background-color: var(--color-dark-purple) !important;
      }
    }
  }

  tbody {
    tr {
      td {
        background-color: var(--color-vanilla) !important;
      }
    }
  }

  tfoot {
    tr {
      td {
        color: white !important;
        background-color: var(--color-dark-purple) !important;

        &:first-child {
          border-radius: 0 0 0 10px;
        }
      }
    }
  }
}

/**** Left column with history dates or users ****/
.item-list {
  list-style-type: none;
  padding: 0;

  .item {
    border-bottom: 1px solid var(--color-celadon);
  }
}

/**** Navbar ****/
nav {
  .navbar-nav {
    .nav-link {
      position: relative;
      color: #333;
      text-decoration: none;

      &.active {
        font-weight: bold;
        color: #000;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $secondary;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }
  }
}

/**** Footer ****/
.footer {
  padding: 2rem 0;

  p, h5 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }

  .section-title {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  .row {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 1.5rem;
  }
}
