:root {
  --color-vanilla: #FCF6B1;
  --color-celadon: #A9E5BB;
  --color-xanthous: #F7B32B;
  --color-xanthous-light: #FFD55C;
  --color-dark-purple: #442c47;
  /* --color-dark-purple: #2D1E2F; */

  --color-red: #F72C25;
}

body {
  background-color: var(--color-vanilla) !important;
}

.icon-container {
  width: 32px;
  height: 32px;
  display: inline-block;
}
.icon-container-small {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon-container-xs {
  width: 8px;
  height: 8px;
  display: inline-block;
}
.icon-hoverable:hover {
  opacity: 0.8;
  cursor: pointer;
}

.text-block {
  /* background-color: #f9f9f9; */
  background-color: #fffbc1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#app {
  min-height: 100vh;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Basic clickable and editable text style */
.editable-text {
  cursor: pointer;
}

/* Hover effect to indicate interactivity */
.editable-text:hover {
  border-bottom: 1px solid #0056b3;
}

.default-button {
  /* Overrite bootstrap property so has to be important */
  background-color: var(--color-xanthous) !important;
}
.default-button:hover {
  background-color: var(--color-xanthous-light) !important;
}

.underline {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-xanthous);
}

.char-width-10 {
  width: 10ch;
}
.char-width-30 {
  width: 30ch;
}

.unpaded {
  padding-left: 0%;
  padding-right: 0%;
  margin-left:-0.5rem;
}

/**** Table ****/
table {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

tbody tr:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease-in-out;
}

thead tr th {
  color: white !important;
  background-color: var(--color-dark-purple) !important
}
tbody tr td {
  background-color: var(--color-vanilla) !important
}
tfoot tr td {
  color: white !important;
  background-color: var(--color-dark-purple) !important
}
tfoot tr td:first-child {
  border-radius:0 0 0 10px;
}

/**** Left column with history dates or users ****/

.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-celadon);
}

.item-info {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow the user-info to take up remaining space */
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.thx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}