// Mandatory bootstrap imports
@import "../../node_modules/bootstrap/scss/functions";

$dark: #442c47;
$red: #F72C25;
$primary: #A9E5BB;
$secondary: #F7B32B;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import '../../node_modules/bootstrap/scss/utilities';
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";

// Optional used components
@import '../../node_modules/bootstrap/scss/badge';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/tooltip';
@import '../../node_modules/bootstrap/scss/transitions'; // navbar collapse

@import '../../node_modules/bootstrap/scss/utilities/api';

:root {
  --color-vanilla: #FCF6B1;
  --color-celadon: #A9E5BB;
}

body {
  background-color: var(--color-vanilla) !important;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.icon-container {
  width: 32px;
  height: 32px;
  display: inline-block;

  &-small {
    width: 16px;
    height: 16px;
  }
}

.icon-hoverable {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.text-block {
  background-color: #fffbc1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/**** Navbar ****/
nav {
  .navbar-nav {
    .nav-link {
      position: relative;
      color: #333;
      text-decoration: none;

      &.active {
        font-weight: bold;
        color: $black;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $secondary;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }
  }
}

/**** Footer ****/
.footer {
  p, h5 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }

  .section-title {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  .row {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 1.5rem;
  }
}
