@use './colors.scss';

@import './bootstrap_mandatory.scss';

// Optional bootstrap components
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/close';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/helpers/vr';
@import '../../node_modules/bootstrap/scss/list-group';
@import '../../node_modules/bootstrap/scss/tables';
@import '../../node_modules/bootstrap/scss/toasts';
@import '../../node_modules/bootstrap/scss/helpers/position';

input:focus, select:focus {
  outline: none !important; /* Remove default style */
  border: 2px solid #4CAF50 !important;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.8) !important;
  transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
}

.rounded-shadow {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.user-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #ddd;
}

/* Clickable and editable cell style */
.editable-cell {
  cursor: pointer;

  &:hover span {
    text-decoration: underline solid $dark;
  }
}

.char-width-20 {
  width: 20ch;
}

.char-width-30 {
  width: 30ch;
}

/**** Left column with history dates or users ****/
.item-list {
  list-style-type: none;
}

/**** Table ****/
table {
  thead {
    tr {
      th {
        color: $white !important;
        background-color: colors.$primary !important;
        border-bottom: none;
      }
    }
  }

  tbody {
    tr {
      background-color: colors.$background !important;
      border-color: colors.$separator;
      border-bottom-width: 1px;

      td {
        background-color: inherit !important;
        border: none;
      }

      &:last-child {
        border-bottom: none !important
      }
    }
  }

  tfoot {
    tr {
      td {
        color: $white !important;
        background-color: colors.$primary !important;
        border-bottom: none;

        &:first-child {
          border-radius: 0 0 0 10px;
        }
      }
    }
  }
}

.shadowed-border {
  border-radius: 10px 10px 0px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-title-container {
  display: flex;
  padding: 10px 0;
  margin-bottom: 20px;
}